<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script defer src="../js/loggedin.js"></script>
    <script defer src="../js/loader.js"></script>
    <script defer src="../js/getnote.js"></script>
    <script defer src="../js/sendnote.js"></script>
    <script defer src="../js/editnote.js"></script>
    <script defer src="../js/deletenote.js"></script>

    <meta name="description" content="Note entry page for notesapp.cloud.">
    <title>Notes</title>
</head>

<body>

    <div id="title_container">
        <h1 id="title_string">notesapp.cloud</h1>
        <form action="/logout" method="post">
            <button type="submit" class="button">Logout</button>
        </form>
    </div>

    <div id="container">

        <section class="user_input">
            <input id="title_input" type="text" value="" placeholder="Title">
            <textarea id="text_input" cols="10" rows="10" placeholder="Body"></textarea>

            <div id="editor_buttons">
                <button id="add_note_button" type="submit">Add Note</button>
                <button id="cancel_editing_button" type="submit">Cancel Edit</button>
            </div>
        </section>

        <div id="all_notes" class="user_input"></div>


    </div>

    <div id="messages">
        <label id="check">&#10003;</label>
        <div id="spinner"></div>
    </div>

    <button id="get_all_notes" type="submit" class="slide-right">Get all Notes</button>

</body>

</html>