<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script async src="js/sendnote.js"></script>
    <title>Document</title>
</head>

<body>

    <div id="input_container">

        <h1>Notes</h1>

        <label for="title_input"> Title</label>
        <input id="title_input" type="text" value="">
        <br>
        <label for="text_input"> Note</label>
        <textarea id="text_input" cols="10" rows="10"></textarea>

        <button id="add_note_button">Add note</button>

        <!--- Temp script to insert placeholder text -->
        <script async type="text/javascript">
            var lorem = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, \
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut \
             enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi \
              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit \
               voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur \
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit \
                 anim id est laborum."
            $("#text_input").val(lorem);
        </script>
        <br><br><br>
        <form action="/logout" method="post">

            <button type="submit">Logout</button>
        </form>

    </div>

</body>

</html>